  #hyouji {
    border: 1px solid #000;
    width: 100px;
    line-height: 18px;
    text-align: center;
    font-size: 12pt;
  }
  #hyouji2 {
    border: 1px solid #000;
    width: 100px;
    line-height: 18px;
    text-align: center;
    font-size: 12pt;
  }
  
  .calbutton {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 15pt;
  }
  
  #num_box {
    margin: 10px;
    background: #faa;
  }
  
  #button_box {
    padding: 10px;
    background: #aaf;
  }
  
  #num1, #num2 {
    width: 60px;
  }
